@media print {
    body {
        margin: 0;
        padding: 0;
        background-color: #fff;
        font-size: 14px;
    }

    .card {
        border-radius: 15px;
    }

    .box-body {
        padding: 1.25rem; /* Adjust as needed */
        width: 1000px; /* Make the box-body fill the entire width */
    }

    /* Landscape orientation */
    @page {
        size: landscape;
        margin: 0; /* Remove default margin to ensure full width */
    }

    /* Hide non-printable elements */
    body * {
        visibility: hidden;
    }

    .box-body, .box-body * {
        visibility: visible;
    }

    .box-body {
        position: absolute;
        left: 0;
        top: 0;
    }
}